@{
    ViewData["Title"] = "Home Page";
}
@{
    int num = 5 * 7;
}
<div class="text-center">
    <h1 class="display-4">Welcome Chiedu @num</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
